#header,
.header-box,
.company-title,
.account-div,
.cart-div,
.categories {
  display: flex;
  align-items: center;
}

#header {
  justify-content: center;
  flex-direction: column;
}

.header-box {
  justify-content: space-around;
  flex-direction: row;
  gap: 5%;
}

.header-top-left,
.button-list {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.header-box-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.33%;
}

.div-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2%;
}

.flex-column {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}
